absl-py==1.2.0
apache-beam==2.56.0
array-record==0.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
avro-python3==1.10.2
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
contextlib2==21.6.0
contourpy==1.2.1
crcmod==1.7
cycler==0.12.1
Cython==0.29.37
dill==0.3.1.1
dm-tree==0.1.8
dnspython==2.6.1
docopt==0.6.2
etils==1.5.2
fastavro==1.9.4
fasteners==0.19
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.5.0
gast==0.4.0
gdown==5.2.0
gin-config==0.5.0
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
h5py==3.11.0
hdfs==2.7.3
httplib2==0.22.0
humanfriendly==10.0
idna==3.7
imageio==2.34.1
imgviz==1.7.5
importlib_metadata==7.1.0
importlib_resources==6.4.0
joblib==1.4.2
Js2Py==0.74
jsonpickle==3.0.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kaggle==1.6.14
keras==2.13.1
kiwisolver==1.4.5
labelme==5.4.1
lazy_loader==0.4
libclang==18.1.1
lvis==0.5.3
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.2.0
mpmath==1.3.0
namex==0.0.8
natsort==8.4.0
networkx==3.2.1
numpy==1.23.0
oauth2client==4.1.3
oauthlib==3.2.2
object_detection @ file:///Users/yui.morii/Documents/github_personal/Cubix---The-AI-Rubik-s-Cube-Detector-Model/models/research
objsize==0.7.0
onnxruntime==1.18.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.3
packaging==24.0
pandas==2.2.2
pillow==10.3.0
portalocker==2.8.2
promise==2.3
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.7
pydot==1.4.2
Pygments==2.18.0
pyjsparser==2.7.1
pymongo==4.7.2
pyparsing==2.4.7
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==5.4.1
QtPy==2.4.1
redis==5.0.4
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
sacrebleu==2.2.0
scikit-image==0.22.0
scikit-learn==1.5.0
scipy==1.13.0
sentencepiece==0.2.0
seqeval==1.2.2
six==1.16.0
soupsieve==2.5
sympy==1.12
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.13.0
tensorflow-hub==0.16.1
tensorflow-io==0.37.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-macos==2.13.0
tensorflow-metadata==1.15.0
tensorflow-model-optimization==0.8.0
termcolor==2.4.0
text-unidecode==1.3
tf-keras==2.14.1
tf-models-official==2.5.1
tf-slim==1.1.0
threadpoolctl==3.5.0
tifffile==2024.5.10
toml==0.10.2
tqdm==4.66.4
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.1
webencodings==0.5.1
Werkzeug==3.0.3
wrapt==1.14.1
zipp==3.18.2
zstandard==0.22.0
